// 1 -  st: Smallest
// 2 - xxs: eXtra eXtra Small
// 3 -  xs: eXtra Small
// 4 -   s: Small
// 5 -   m: Medium
// 6 -   l: Large
// 7 -  xl: eXtra Large
// 8 - xxl: eXtra eXtra Large
// 9 -  lt: Largest

// Font-size
$ui-font-size-st: 8px;
$ui-font-size-xxs: 10px;
$ui-font-size-xs: 12px;
$ui-font-size-s: 14px;
$ui-font-size-m: 18px;
$ui-font-size-l: 18px;
$ui-font-size-xl: 22px;
$ui-font-size-xxl: 24px;
$ui-font-size-lt: 32px;

// Font-weight
$ui-font-weight-s: 400;
$ui-font-weight-l: 600;

// Line-height
$ui-line-height-xxs: 12px;
$ui-line-height-xs: 14px;
$ui-line-height-s: 16px;
$ui-line-height-m: 20px;
$ui-line-height-l: 24px;
$ui-line-height-xl: 32px;
$ui-line-height-xxl: 48px;

// Color
$ui-color-black-light: rgba(102, 111, 124, 1);
$ui-font-color-default: #243143;
$ui-primary-hover: #173e7e;
$ui-primary-active: #0065e3;
$ui-primary-default: #2668c5;
$ui-primary-disabled: #e9f0f9;
$ui-primary-disabled-color: #d4e1f3;
