.ui-button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.9rem 1.6rem;
  transition: 0.2s;
  cursor: pointer;
}

.ui-button--primary {
  color: white;
  background-color: $ui-primary-default;

  &:hover {
    background-color: $ui-primary-hover;
  }

  &:active {
    background-color: $ui-primary-active;
  }

  &:disabled {
    cursor: no-drop;
    color: $ui-primary-disabled-color;
    background-color: $ui-primary-disabled;
  }
}
