@import '~normalize.css';
@import 'normalize.scss';
@import 'font-styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  & * {
    font-family: 'Open Sans', sans-serif;
    color: $ui-font-color-default;

    @include normalize;
  }
}
